html,
body {
  background-color: #222;
  height: 100%;
  overflow: hidden;
  font-family: Sans-serif;

  -ms-touch-action: none;
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.display-area {
  margin: 0 auto;
  background-color: #333;
  box-shadow: 0 0 20px 10px black, inset 0 0 20px 10px black;
  color: white;
  position: relative;
}

.display-area .counter {
  margin-left: 5%;
  margin-bottom: 1%;
  padding-left: 11%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.container {
  position: relative;
}

.container .combo {
  position: absolute;
  text-align: right;
  right: 10%;
  bottom: 10%;
  z-index: 5;
  color: #fff;
  text-shadow: 0 0 0.1em white, 0 0 0.2em black, 0 0 0.3em black,
    0 0 0.4em black, 0 0 0.5em black;
}

.display-area .stats {
  position: absolute;
  text-align: right;
  right: 5%;
  bottom: 12%;
  font-weight: bold;
}

.display-area .stats span {
  font-size: 50%;
  display: block;
  margin-top: 2%;
  margin-bottom: 20%;
  font-weight: normal;
  color: #999;
}

.display-area .countdown {
  height: 4%;
  background-color: #3adf00;
  position: absolute;
  bottom: 4%;
  width: 100%;
  transition: width 0.6s linear;
  box-shadow: inset 0 1px 5px white, inset 0 -1px 5px black;
}

.display-area.inactive .countdown {
  background-color: gray;
}

.play-area {
  margin: 0 auto;
  background-color: black;
  box-shadow: 0 0 20px 10px black;
}

.block {
  position: absolute;
  /* 交換位置 */
  transition: top 0.05s linear, left 0.05s linear;
  background-size: 105%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.block.active {
  /* 要加上拖拉移動才會漂亮 不讓他有過度效果*/
  transition: none;
  z-index: 99;
}

.block.flash {
  animation: blinker 0.6s linear 1;
}

.block.blink {
  animation: blinker 0.6s linear 1;
}

@keyframes blinker {
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.elem-0, .elem-1, .elem-2, .elem-3, .elem-4, .elem-5 {
  background-size: 80%;
}

.elem-0 {
  background-image: url(./images/1.png);
}

.elem-1 {
  background-image: url(./images/2.png);
}

.elem-2 {
  background-image: url(./images/3.png);
}

.elem-3 {
  background-image: url(./images/4.png);
}

.elem-4 {
  background-image: url(./images/5.png);
}

.elem-5 {
  background-image: url(./images/6.png);
}
